/*'sanduiche' de responsividade*/
.mobile-menu-icon div{
    width: 32px;    /*largura*/
    height: 2px;    /*altura*/
    background-color: rgb(255, 255, 255); /*cor de fundo*/
    margin: 8px;    /*distanciamento externo*/
    transition: 0.5s ease;  /*Efeito de tempo da animação*/
}
/*Aplicação de responsividade, quando a largura da tela for menor que 999px*/
@media (max-width: 999px){ 
    body{
        overflow-x: hidden; /*se algo transbodar, ficará escondido atras do body*/
    }

    .nav-list{
        position: absolute;
        top: 10vh;  /* posição: logo abaixo do menu */
        right: 0;   /*posicionado à direita*/
        width: 30vw;
        height: 92vh;
        background-color: #9e9e9e;
        flex-direction: column; /*Os itens da lista ficam direcionado em uma coluna, ou seja, um abaixo do outro*/
        text-align: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 0.5s ease;
    }
    .nav-list li.nav-item{
        margin-left: 0;
        opacity: 0;
    }
    div.mobile-menu-icon{
        display: block;
    }
}
.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px) ;
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu-icon.active .linha1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu-icon.active .linha2{
    opacity: 0;
}
.mobile-menu-icon.active .linha3{
    transform: rotate(45deg) translate(-5px, -7px);
}